<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/student/sidebar', {courses: courses}) %>
      <div id="content">
        <h1>Enter key for a course to join</h1>

        <div class="form-row">
            <div class="form-group col-md-10">
              <input type="TEXT" class="form-control" id="course_key" placeholder="Course Key">
            </div>
        </div>

        <button type="button" class="appbtn" id="search">Search for Course</button>

        <%# error div if no course found%>
        <div id="searcherror"></div>

        <%# modal with course content upon searching by course key%>
        <div class="modal fade" id="course_modal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Join This Course?</h4>
              </div>
              <div class="modal-body" id="course_info">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="appbtn" id="join" data-dismiss="modal">Join Course</button>
                <button type="button" id="confirmdelete" class="appbtn deletebtn" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>


      </div> <%# close content %>
    </div> <%# close wrapper %>
  </body>

  <%- include('../../partials/scripts'); %>
  <script type="text/javascript" src="../public/js/joincourse.js"></script>

</html>
