<div id="<%= question.id %>" class="list-group-item question-view">
    <button type="button" id="remove<%= question.id %>" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="card-title"><%= question.body %></h5>
    <p><% question.answers.forEach((answer) => { %>
        <%= answer.answer %><br>
    <% }); %></p>
    <span style="display:block; height: 10px;"></span>
</div>