<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/btnlinks.css">
<link rel="stylesheet" href="../public/css/fonts.css">
<link rel="stylesheet" href="../public/css/footer.css">
<link rel="stylesheet" href="../public/css/landing.css">
<link rel="stylesheet" href="../public/css/mediaqueries.css">
<link rel="stylesheet" href="../public/css/navbar.css">
<link rel="stylesheet" href="../public/css/sidebar.css">
<link rel="stylesheet" href="../public/css/content.css">