<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/instructor/sidebar', {courses: courses}) %>
      <div id="content">

        <h2>Enter information for the assignment</h2>

        <%# ROW 1 - Name %>
        <div class="form-row">
          <div class="form-group col-md-7">
            <input type="text" class="form-control" id="assignment_name" placeholder="Assignment Name">
            <small class="text-danger" id="assignment_name_error"></small>
          </div>
        </div>

        <span style="display:block; height: 20px;"></span>

        <%# ROW 2 - Prompt %>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="assignment_prompt">Assignment Prompt</label>
                <textarea type="text" class="form-control" id="assignment_prompt" placeholder="Enter the prompt for the assignment here...">
            </div>
        </div>

        <span style="display:block; height: 20px;"></span>

        <%# ROW 2 - Number Section %>
       <div class="form-row">
         <div class="form-group col-md-5">
           <input type="text" class="form-control" id="course_number" placeholder="Course Number">
           <small class="text-danger" id="course_number_error"></small>
         </div>
         <div class="form-group col-md-5">
           <input type="text" class="form-control" id="course_section" placeholder="Course Section">
           <small class="text-danger" id="course_section_error"></small>
         </div>
       </div>

       <span style="display:block; height: 20px;"></span>

        <%# ROW 3 - Semester Year %>
       <h4>Course Semester</h4>
       <div class="form-row">
         <div class="form-group col-md-5">
           <select id="course_season" class="form-control">
             <option value="Spring">Spring</option>
             <option value="Summer">Summer</option>
             <option value="Fall">Fall</option>
             <option value="Winter">Winter</option>
           </select>
         </div>
         <div class="form-group col-md-5">
           <input type="text" class="form-control" id="course_year" placeholder="Year">
           <small class="text-danger" id="course_year_error"></small>
         </div>
       </div>

       <span style="display:block; height: 20px;"></span>
       <button id="createCourse" class="appbtn" type="button">Create Course</button>

      </div> <%# close content %>
    </div> <%# close wrapper %>
  </body>

  <%- include('../../partials/scripts'); %>
  <script type="text/javascript" src="../public/js/createcourse.js"></script>

</html>
