<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../../partials/head', { title: title }) %>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../../partials/instructor/sidebar', {courses: courses}) %>
      <div id="content">

        <h2>Create Questions</h2>

        <div class="form-row">
            <div class="form-group col-md-7">
              <span style="display:block; height: 20px;"></span>
              <hr>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="question_subject">Subject</label>
                <select id="question_subject" class="form-control">
                </select>
            </div>
            <div class="form-group col-md-3">
              <label for="question_topic">Topic</label>
              <select id="question_topic" class="form-control">
              </select>
            </div>
            <div class="form-group col-md-3">
                <label for="question_type">Question Type</label>
                <select id="question_type" class="form-control">
                    <option val="Multiple Choice">Multiple Choice</option>
                    <option val="Enter Answer Directly">Enter Answer Directly</option>
                    <option val="Write Code">Write Code</option>
                </select>
              </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-7">
              <span style="display:block; height: 40px;"></span>
              <hr>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="question_text">Question Prompt</label>
                <textarea type="text" class="form-control" id="question_text" placeholder="e.g. What is 2+2?"></textarea>
            </div>
        </div>

        <span style="display:block; height: 20px;"></span>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="question_hint">Question Hint</label>
                <input class="form-control" placeholder="hint (optional)" id="question_hint"></input>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-7">
              <span style="display:block; height: 20px;"></span>
              <hr>
            </div>
        </div>

        <span style="display:block; height: 10px;"></span>

        <div id="answer_area"></div>
 
       <div id="unknownerr"></div>
       <span style="display:block; height: 20px;"></span>
       <div class="form-check">
        <input type="checkbox" class="form-check-input" id="public">
        <label class="form-check-label" for="public">Make this question public</label>
      </div>
      <span style="display:block; height: 10px;"></span>
       <button id="saveQuestion" class="appbtn" type="button">Save Question</button>

      </div> <%# close content %>
    </div> <%# close wrapper %>
  </body>

  <%- include('../../partials/scripts'); %>
  <script type="text/javascript" src="../public/js/createquestion.js"></script>

</html>
