<div class="list-group-item">
<!--  <button type="button" id="remove[id]" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <div class="form-row">
    <div class="form-group col-md-9">
      <textarea class="form-control" placeholder="option [id]" id="option[id]"></textarea>
      <small id="[id]help" class="text-danger"></small>
    </div>
      <label class="switch">
        <input id="[id]" type="checkbox">
        <span class="slider round correctswitch"></span>
      </label>
  </div>
</div>
