<div class="list-group-item">
  <h3 class="card-title">[name]</h3>
  <h4>[opendisplaydate]</h4>
  <span style="display:block; height: 20px;"></span>
  <button type="button" class="appbtn" data-toggle="collapse" data-target="#[id]">More Info&nbsp;<i class="fas fa-caret-down"></i></button>
  <div id="[id]" class="collapse"><hr>
    <span style="display:block; height: 20px;"></span>
    <p>Number of Questions: [questioncount]</p>
    <p>Total points: [points]</p>
    <p>Number of attempts: [attempts]</p>
    <span style="display:block; height: 5px;"></span>
    <a href="../assignment/[id]" class="reportlink">Go To Assignment Page</a>
    <span style="display:block; height: 10px;"></span>
  </div>
</div>
